<section class="featProducts">
    <div class="container">
        <span class="subHeading">Featured Products</span>
        <h2 class="section-header">We have a wide selection to choose from.<span> Take a look!</span></h2>
    </div>
    <div class="container grid2 grid-col-4">
        <div class="products">
            <img src="../assets/Images/redSnapper.jpg" alt="Red Snapper">
            <div class="product-info">
                <div class="product-Cat">
                    <span class="CatTitle coloryellowish">Fried Meals</span> 
                </div>
                <p class="product-Title"> Red Snapper</p>
                <ul class="product-ETC">
                    <li class="ETC"><i class="fa fa-fire"></i><p><strong>650</strong> calories</p></li>
                    <li class="ETC"><i class="fa fa-spoon"></i><p> Nurtrition Score&reg;</p></li>
                    <li class="ETC"><i class="fa fa-star"></i> <p><strong>4.9</strong> rating <strong> (567)</strong></p> </li>
                </ul>
            </div>
        </div>
        <div class="products">
            <img src="../assets/Images/GrilledSalmon.jpg" alt="grilled Salmon">
            <div class="product-info">
                <div class="product-Cat">
                    <span class="CatTitle greenish">Keto</span>
                </div>
                <p class="product-Title"> Grilled Salmon</p>
                <ul class="product-ETC">
                    <li class="ETC"><i class="fa fa-fire"></i><strong>750</strong> calories</li>
                    <li class="ETC"><i class="fa fa-spoon"></i> Nurtrition Score&reg;</li>
                    <li class="ETC"><i class="fa fa-star"></i><strong>4.9</strong> rating <strong> (967)</strong> </li>
                </ul>
            </div>
        </div>
        <div class="products">
            <img src="../assets/Images/AvacadoToast.jpg" alt="Avacodo Toast">
            <div class="product-info">
                <div class="product-Cat">
                    <span class="CatTitle colorYellow">Breakfast</span>
                </div>
                <p class="product-Title"> Avacado Toast</p>
                <ul class="product-ETC">
                    <li class="ETC"><i class="fa fa-fire"></i><strong>450</strong> calories</li>
                    <li class="ETC"><i class="fa fa-spoon"></i> Nurtrition Score&reg;</li>
                    <li class="ETC"><i class="fa fa-star"></i><strong>4.9</strong> rating <strong> (1567)</strong> </li>
                </ul>
            </div>
        </div>
        <ul class="diet-Plans">
            <h3 class="diet-heading" >Our meals work with any diet:</h3>
            <li class="diet-item"><i class="fa fa-check"></i> Vegan</li>
            <li class="diet-item"><i class="fa fa-check"></i> Pescatarian</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Gluten-free</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Lactose-free</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Keto</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Paleo</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Kid-Friendly</li> 
            <li class="diet-item"><i class="fa fa-check"></i> Superfood</li> 
            <div class="container seeAll">
                <a class="seeAllLink" routerLink="/shop/products">See All &rarr;</a>
            </div>
        </ul>

    </div>
</section>

