<section class="section-features">
    <div class="container">
        <h2 class="brand-title">Popular Brands</h2>
    </div>
    <div class="brand-logos">
        <img src="../assets/Images/logo1.jpg" alt="Fork & Spoon">
        <img src="../assets/Images/logo2.jpg" alt="fresh food">
        <img src="../assets/Images/logo3.jpg" alt="scoopy-doo">
        <img src="../assets/Images/logo5.png" alt="fine food">
        <img src="../assets/Images/logo6.jpg" alt="food kit">
        <img src="../assets/Images/breakfastLogo.png" alt="Breakfast">
    </div>
</section>
