.feat i{
    color:#a2b400;
    background-color: #f3bf91;
    padding: 1.4rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    font-size: 2.5rem;
}
.feat-heading{
    font-size: 2rem;
    color:#333;
    font-weight:900;
    margin-bottom: 1.6rem;
}
.feat-description{
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 700;
}