<div class="container grid grid-col-4">
    <div class="feat">
        <i class="fa fa-edit"></i>
        <p class="feat-heading">Never Cook again</p>
        <p class="feat-description">Our kitchens are open 365 days per year. Depending on your subscription, you can place an order anytime!</p>
    </div>
    <div class="feat">
        <i class="fa fa-map"></i>
        <p class="feat-heading">Local & Organic</p>
        <p class="feat-description">Our Chefs only use the freshest ingredients from local farmers markets!</p>
    </div>
    <div class="feat">
        <i class="fa fa-globe"></i>
        <p class="feat-heading">No Waste</p>
        <p class="feat-description">Only resuable microwavable containers are used to package meals!</p>
    </div>
    <div class="feat">
        <i class="fa fa-pause"></i>
        <p class="feat-heading">Cancel or pause anytime</p>
        <p class="feat-description">In today's environment flexablity is a must so theres no need for long term contracts!</p>
    </div>

</div>
