<app-header></app-header>
<section class="section-hero">
    <div class="hero-container">
        <div data-HeroData="" class="hero-text">
            <h1 class="primary-heading">
                Welcome To SunStarrs!
            </h1>
            <p class="hero-description">A Great Day always start with a healthy meal! 
                We strive to get the best possiable ingredients to provide highest quality meals! 
            </p>
            <a [routerLink]="['shop/products']" class="btn btn--full margin-right">Explore the Sun</a>

            <a [routerLink]="" class="btn btn--outline">Enjoy the Sun &dArr;</a>
            <div class="human-Icons">
                <div class="human-Pics">
                    <img src="../assets/Images/facepic1.jpg"  alt="customer">
                    <img src="../assets/Images/facepic2.jpg"  alt="customer">
                    <img src="../assets/Images/facepic3.jpg"  alt="customer">
                    <img src="../assets/Images/facepic5.jpg"  alt="customer">
                    <img src="../assets/Images/20210428_101909.jpg"  alt="customer">
                </div>
                <p class="human-Text"> Over<span> 250,000+</span> Happy Customers!</p>
            </div>
        </div>
        <div class="hero-image-container #lightId">
            <input class="Date" type="text" value="">
            <img src="../assets/Images/eggslunch.jpg" class="hero-img" alt="">
        </div>
    </div>
</section>
<app-features></app-features>
<app-how-too></app-how-too>
<app-featured-products></app-featured-products>
<app-pricing></app-pricing>
<app-register></app-register>
<app-footer></app-footer>





