<footer class="foot">
    <div class="container grid2 grid-footer">
        <nav class="navi logo-column img-column">
            <div class="footer-logo"></div>
          <img class="logo" src="../assets/Images/thesun.jpg" alt="SunStarrsLogo">
            <ul class="social-links">
                <li><a class="footer-links" routerLink=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a class="footer-links" routerLink=""><i class="fa fa-instagram"></i></a></li>
                <li><a class="footer-links" routerLink=""><i class="fa fa-twitter"></i></a></li>
                <li><a class="footer-links" routerLink=""><i class="fa fa-whatsapp"></i></a></li>
                <li><a class="footer-links" routerLink=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <p class="copy-right">Copyright &copy; 2025 by SunStarr, Inc. All rights reserved.</p>
        </nav>
        <nav class="navi address-col img-column">
            <p class="footer-heading">Contact Us</p>
            <address>
               <p class="address"> 4910 Utica Av 5th floor
                Brooklyn, NY 11223
               </p>
               <p>Phone:<a class="footer-links" href="tel:917-444-4444"> 917-444-4444</a></p> 
                <p><a class="footer-links" href="mailto: NormandIstheMan@example.com">Norm@yahoo.com</a></p>   
            </address>
        </nav>
        <nav class="navi nav-col">
            <p class="footer-heading">Careers</p>
            <ul class="footer-list">
                <li><a class="footer-links" routerLink="">Create Account</a></li>
                <li><a class="footer-links" routerLink="">Sign In</a></li>
                <li><a class="footer-links" routerLink="">IOS app</a></li>
                <li><a class="footer-links" routerLink="">Android app</a></li>
            </ul>
        </nav>
        <nav class="navi nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-list">
                <li><a class="footer-links" routerLink="">About SunStarrs</a></li>
                <li><a class="footer-links" routerLink="">For Business</a></li>
                <li><a class="footer-links" routerLink="">Cooking Partners</a></li>
            </ul>
        </nav>
        <div class="navi nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-list">
                <li><a class="footer-links" routerLink="">Recipes</a></li>
                <li><a class="footer-links" routerLink="">Help Center</a></li>
                <li><a class="footer-links" routerLink="">Privacy & terms</a></li>
            </ul>
        </div>
    </div>
    <div class="dropdown-show4">
        <a>Messages<i class="fa fa-shopping-cart"></i></a>
        <div class="dropdown5">
            <div class="top">
                <div class="left-top">
                    <div class="img-container" role="img">
                        <img src="" alt="" class="actual-img">               
                    </div>
                </div>
                <div class="right-top">
                    <h3>Stuff</h3>
                    <p>Meat </p>
                    <div class="QTYInfo">
                        <p>Qty:</p>
                        <p>2</p>
                    </div>
                    <div class="fatrash">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <div class="shopinfo">
                <p>Sub-Total</p>
                <p>$567</p>
            </div>
            <div class="top">
                <div class="left-top">
                    <div class="img-container" role="img">
                        <img src="" alt="" class="actual-img">               
                    </div>
                </div>
                <div class="right-top">
                    <h3>Stuff</h3>
                    <p>Meat </p>
                    <div class="QTYInfo">
                        <p>Qty:</p>
                        <p>2</p>
                    </div>
                    <div class="fatrash">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <div class="shopinfo">
                <p>Sub-Total</p>
                <p>$567</p>
            </div>
            <div class="top">
                <div class="left-top">
                    <div class="img-container" role="img">
                        <img src="" alt="" class="actual-img">               
                    </div>
                </div>
                <div class="right-top">
                    <h3>Stuff</h3>
                    <p>Meat </p>
                    <div class="QTYInfo">
                        <p>Qty:</p>
                        <p>2</p>
                    </div>
                    <div class="fatrash">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <div class="shopinfo">
                <p>Sub-Total</p>
                <p>$567</p>
            </div>
            <div class="bottom">             
               <button class="btnBag"><a routerLink="/shoppingcart/cart">View Bag</a></button> 
               <button class="btnBag"><a routerLink="">Checkout</a></button> 
            </div>
        </div>
    </div>
</footer>

 