
<div class="bg-img">
    <section class="register-section">
        <div class="the-Message">
            <h1 class="register-heading"> <span>Join Us!</span> <br> You're Almost there. </h1>
            <p class="sub-heading"> Be sure to checkout our dietary plans and receipes!</p>
        </div>
        <div class="register-form">
            <form class="actual-register-form">
                <div class="logo-block">
                    <img class="logo" src="../assets/Images/thesun.jpg" alt="SunStarrsLogo">
                </div>
                <h1 class="form-heading">Welcome <br> to <br> SunStarrs</h1>
                <p class="form-subHeading">get ready to enjoy the sun</p>
                <div class="form-group">
                    <label for="Username" >Username</label>
                    <input type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="Email" > Email</label>
                    <input type="text"  placeholder="Email@example.com">      
                </div>
                <div class="form-group">
                    <label for="Password" > Password</label>
                    <input type="text" placeholder="Password">
                </div>
                <button class="btn btn-form">Sign up</button>
                <p class="terms">by continuing, you are agree to SunStarrs 
                    <a routerLink=""><strong>Terms of Service</strong></a> and acknowledge you've read our <a routerLink=""><strong>Private Policy</strong></a></p>
                <p class="login-P"><a routerLink="/user/login">Already a member? Log in</a></p>
            </form>
        </div>
    </section>
</div>

