<app-header></app-header>
<section class="container2 margin-top">
    <div class="heading-container">
        <h1>Login & Security</h1>
    </div>
    <!-- use flex box -->
    <div class="userSetting-container">
        <ul class="userSetting-options">
            <li class="options">
                <div class="label-info">
                    <span>Name:</span>
                    <p class="name">Normand</p>
                </div>
                <button class="btn-edit">Edit</button>
            </li>
            <li class="options">
                <div class="label-info">
                    <span>Email:</span>
                    <p class="name">Normand@yahoo.com</p>
                </div>
                <button class="btn-edit">Edit</button>
            </li>
            <li class="options">
                <div class="label-info">
                    <span>Phone:</span>
                    <p class="name">999-888-9876</p>
                </div>
                <button class="btn-edit">Edit</button>
            </li>
            <li class="options">
                <div class="label-info">
                    <span>Password:</span>
                    <p class="name">******</p>
                </div>
                <button class="btn-edit">Edit</button>
            </li>
        </ul>
    </div>
    <button class="btn marg">Done</button>
</section>
<app-footer></app-footer>
