<section class="featProducts">
    <div class="container">
        <span class="subHeading">Subscriptions</span>
        <h2 class="section-header">Choose a plan. These are our<span> best offers!</span></h2>
    </div>
    <div class="container grid grid-col-2 margin-bottom-g">
        <div class="plan justifyPlan">
            <header class="pricePlan">
                <p class="starter-Plan">Starter</p>
                <p class="starter-Price"><span>$</span>399</p>
                <p class="starter-Text">
                    per Month. That's about $7 per meal!
                </p> 
            </header>
            <ul class="product-ETC">
                <li class="ETC"><i class="fa fa-check"></i> <p><span>3 Meals per day </span></p> </li>
                <li class="ETC"><i class="fa fa-check"></i> <p><span>Order M-F between </span></p> </li>
                <li class="ETC"><i class="fa fa-check"></i> <p><span>Delivery fees will apply</span></p></li>
                <li class="ETC"><i class="fa fa-cross"></i> <p><span></span></p></li>
            </ul>
            <div class="planButton">
                <a [routerLink]="" class="btn btn--full">Enjoy the Sun</a>
            </div> 
        </div>
        <div class="plan1 best-Plan">
            <header class="pricePlan">
                <p class="starter-Plan">Pro</p>
                <p class="starter-Price"><span>$</span>699</p>
                <p class="starter-Text">
                    per Month. That's about $8 per meal!
                </p> 
            </header>
            <ul class="product-ETC">
                <li class="ETC"><i class="fa fa-check"></i> <p><span> 3 Meals per day </span></p></li>
                <li class="ETC"><i class="fa fa-check"></i> <p><span> Order 24/7</span></p></li>
                <li class="ETC"><i class="fa fa-check"></i> <p><span> Access to reciepes</span></p></li>
                <li class="ETC"><i class="fa fa-check"></i> <p><span> Free delivery</span></p> </li>
            </ul>
            <div class="planButton">
                <a [routerLink]="" class="btn btn--full">Enjoy the Sun</a>
            </div>        
        </div>      
    </div>
    <div class="container grid">
        <aside class="plan-details">All prices include all applicable taxes.</aside>
    </div>
    <app-more-feat></app-more-feat>
</section>
