<section class="section-how">
    <div class="container">
        <span class="subHeading">How it works!</span>
        <h2 class="section-header">Everything you need to capture the Sun in just <span> three simple steps!</span></h2>
    </div>
    <div class="container grid grid-col-2 grid-center-vertical">
        <!-- first image & text  -->
        <div class="step-text-box">
            <p class="step-num">01</p>
            <h3 class="step-header">Choose a Category</h3>
            <p class="step-description">
                We have many categories to choose from
                & large variety products to create the perfect meal.
                Choose to receive weekly or daily meals!
            </p>
        </div>
        <div class="step-image-box">
            <img class="step-image" src="../assets/Images/foodCategory.png"  alt="">
        </div>
        <!-- second image & text  -->
        <div class="step-image-box">
            <img class="step-image" src="../assets/Images/foodCategory.png"  alt="">
        </div>
        <div class="step-text-box box2">
            <p class="step-num">02</p>
            <h3 class="step-header">Choose Avaliable Meal Plans</h3>
            <p class="step-description">
                We have many Options to choose from
                & large variety meal plans to create the perfect meal.
                Choose to receive weekly or daily meals!
            </p>
        </div>
        <!-- third image & text -->
        <div class="step-text-box">
            <p class="step-num">03</p>
            <h3 class="step-header">Choose Delivery Options</h3>
            <p class="step-description">
                We have many Options to choose from
                & large variety products to create the perfect meal.
                Choose to receive weekly or daily meals!
            </p>
        </div>
        <div class="step-image-box">
            <img class="step-image" src="../assets/Images/foodCategory.png"  alt="">
        </div>
    </div>
</section>
