<section class="about-container">
    <div class="inner-about-container">
        <div class="left-side">
            <div class="left-content">
                <h1 class="about-title">About Us</h1>
                <span>We Strive for innovation!</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nesciunt, quos nihil, itaque ratione molestias est enim 
                    at provident nulla sit quae cumque quibusdam. Cupiditate cumque unde voluptatum 
                    placeat quae ex. Ab aut adipisci nobis sint non illum, suscipit accusantium magnam 
                    alias, eveniet doloremque accusamus sunt. Labore nesciunt error quas?
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Recusandae inventore fuga soluta cumque harum ullam, vel consequuntur eius possimus nulla quam, 
                    odio consectetur nam cum commodi aliquid, sapiente placeat eveniet?
                </p>

            </div>
        </div>
    </div>
</section>
